.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

header{
    max-width: 1440px;
    margin: 0 auto;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

.color1{
    color: #0D1321;
}

.color2{
    color: rgba(13, 19, 33, 0.7); 
}
.front-page{
    background-image: url("../assets/Hero-bg.png");
    /* max-width: 1440px;
    height: 652;
    margin-top: 157px; */
    padding: 26px 221px 45px 221px;
    text-align: center;
}

.header-title{
    /* width: 998px;
    height: 136px; */
    font-size: 48px;
    font-weight: 900;
    color: #0D1321;
}

.header-title-description{
    /* width: 852px;
    height: 52px; */
    font-size: 400;
    font-weight: 16px;
    padding-bottom: 32px;
    color: #0D1321;
}

.header-quotes{
    /* width: 998px;
    height: 212px;
    margin: 32px 221px; */
    padding-bottom: 24px;
    text-align: center;
}

.btn-primary{
    width: 244px;
    height: 65px;
    border-radius: 8px;
    background-color: #0D1321;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.btn-common{
    width: 171px;
    height: 47px;
    border: 1px solid #0D1321;
    color: #0D1321;
    font-size: 20px;
    font-weight: 700;
}

.second-page{
    /* width: 1140px;
    height: 1393px; */
    margin: 74px 152px 88px 148px;
    padding: 80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
}

.page-title{
    /* width: 852px;
    height: 37px; */
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    /* margin-top: 80px;
    margin-bottom: 24px; */
}

.page-title-description{
    font-size: 16px;
    font-weight: 400;
    /* margin-bottom: 48px; */
    text-align: center;
}


.second-page-first{
    justify-content: space-between;
    display: flex;
}

.second-page-common-title{
    font-size: 24px;
    font-weight: bold;
} 

.common-title-description{
    font-size: 16px;
    font-weight: 400;
}

.second-page-second{

    display: flex;
    justify-content: space-between;
}
.second-page-third{
    display: flex;
    justify-content: space-between;
}

.inspiration-page{
    padding-left: 144px;
    padding-right: 144px;
    text-align: center;
    /* margin: 88px 150px 150px 150px; */
}

.inspiration-page-video{
    
    /* height: 614px;
    margin: 0px auto; */
    border-radius: 16px;
    border: 1px solid black;
    /* border-style: none; */
    text-align: center;
}

.target-skills{
    /* margin: 150px 150px 150px 50px;
    padding: auto; */
    text-align: center; 
}

.target-skill-names{
    display: flex;
}

.learn-more-second{
    text-decoration: none;
}


