.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.color1{
    color: #0D1321;
}
.front-page{
    background-image: url("../assets/Hero-bg.png");
    max-width: 1440px;
    height: 652;
    margin-top: 157px;
    text-align: center;
}

.header-title{
    width: 998px;
    height: 136px;
    font-size: 48px;
    font-weight: 900;
    color: #0D1321;
}

.header-title-description{
    width: 852px;
    height: 52px;
    font-size: 400;
    font-weight: 16px;
    color: #0D1321;
}

.header-quotes{
    width: 998px;
    height: 212px;
    margin: 32px 221px;
    text-align: center;
}

.btn-primary{
    width: 244px;
    height: 65px;
    border-radius: 8px;
    background-color: #0D1321;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.btn-common{
    width: 171px;
    height: 47px;
    border: 1px solid #0D1321;
    color: #0D1321;
    font-size: 20px;
    font-weight: 700;
}

/* .btn-secondary{
    width: 171px;
    height: 47px;
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    border: 1px solid #0D1321;
    padding: 12px 20px;
} */

.second-page{
    /* width: 1140px;
    height: 1393px; */
    margin: 74px 152px 88px 148px;
    padding: 80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
}

.page-title{
    width: 852px;
    height: 37px;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 24px;
}

.page-title-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
    text-align: center;
}


.second-page-first{
    justify-content: space-between;
    display: flex;
}

.second-page-common-title{
    font-size: 24px;
    font-weight: bold;
} 

.common-title-description{
    font-size: 16px;
    font-weight: 400;
}

.second-page-second{
    display: flex;
}
.second-page-third{
    display: flex;
}


